.product-details-title {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 2.5em;
  font-weight: bold;
  color: #c48636;
}

.product-details-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: min-content;
  grid-gap: 1em;
  border: 0px solid red;
}

.product-images-div {
  border: 1px solid black;
  padding: 0.1em;

  & img {
    object-fit: cover;
  }
}

.product-details-text {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.product-description {
  font-size: 1.5em;
}

.product-review {
  font-size: 1.5em;

  & > svg {
    margin-left: 0.5em;
    margin-right: 0.2em;
  }
}

div.review-content {
  display: flex;

  & div.review-heading div {
    border-left: 5px solid black;
    padding-left: 10px;
  }
}

button.add-to-cart-btn{
    width: 7em;
    height: 3em;
    font-size: 1em;
}
