main#landing-page {
    margin: 0 auto;
    width: 100%;
    height: 80%;

    display: flex;
    gap: 1em;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
}

.landing-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #C48636
}

footer#landing-page {
    width: 100%;
    border-top: lightgray solid 1px;
    background-color: beige;
    height: calc(100vh - 26em);

    display: flex;
    justify-content: space-evenly;

    & div.delimeter {
        align-self: center;
        background-color: lightgray;
        width: 1px;
        height: 150px;
    }
}

div.footer-card {
    width: 30%;
    margin-top: 1em;
    text-align: center;
    font-family: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans", Arial, sans-serif;

    & h3 {
        font-size: 1.2em;
    }

    & ul {
        list-style: none;
        text-align: left;
    }

    & li{
        margin-top: 10px;
    }

    & section {
        padding: 0 20px;
        text-align: justify;
    }
}
