/* SpotCard.css */
.product-card {
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0.5rem;
  padding: 0.5rem;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;

  & .img-container {
    position: relative;
  }

  & .product-card-image {
    width: 100%;
    object-fit: cover;
  }

  & .product-card-rating {
    position: absolute;
    top: 0;
    left: 0;

    * {
      margin-right: 0.5em;
    }
  }

  & .favorite-button {
    position: absolute;
    top: 0;
    right: 0;
  }

  & .product-card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    opacity: 0.75;
  }
}

.product-card-rating {
  display: flex;
  align-items: center;
  justify-content: right;
}

.product-card-price {
  font-size: 1.2em;
  font-weight: bold;
}
