.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 90vh;
    overflow-y: scroll;
    padding: 20px;
    border-radius: 10px;
}

.modal-content input {
    width: 100%;
    height: 25px;
    border-radius: 10px;
}

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    width: 100%;
}

.email {
    font-size: 24px;
    width: 100%;
    margin: 10px;
}

.email-input {
    width: 97%;
    height: 25px;
    border-radius: 10px;
}

.password {
    font-size: 24px;
    width: 100%;
    margin: 10px;
}

.password-input {
    width: 97%;
    height: 25px;
    border-radius: 10px;
}

.form-actions {
    display: flex;
    flex-direction: column;
    width: auto;
}

.form-actions button {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    background-color: #007bff;
    color: white;
    font-size: 12px;
    margin-top: 10px;
}

.log-in-demo-button {
    width: 45%;
    height: 40px;
    border-radius: 10px;
    background-color: #000000;
    color: white;
    font-size: 18px;
}